# User-specific .idea stuff:
.idea

# CMake
cmake-build-debug/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Gradle files
/.gradle
/build

# JS files
/bdist/js/bin/protolint
/bdist/js/bin/protoc-gen-protolint
/bdist/js/node_modules/
/bdist/js/node_modules/*.tgz

