---
name: Go

on:
  pull_request:

jobs:

  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Lint
        run: |
          make dev/install/dep
          make test/lint

      - name: Test
        run: make test

      - name: Build
        run: make build/cmd/protolint
